In [22]:
# some exploratory data analysis
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os

import pandas as pd
# set pandas to show 100 the columns
pd.set_option('display.max_columns', 100)

import requests

In [23]:
# get the taxi data of the last full month (T-1 months') data
current_datetime = datetime.now()    # current date
# get the data two months before as a formatted string
formatted_datetime = (current_datetime - relativedelta(months=2)).strftime('%Y-%m-%d')

url = f'https://data.cityofchicago.org/resource/wrvz-psew.json?$where=trip_start_timestamp >= "{formatted_datetime}T00:00:00" AND trip_start_timestamp <= "{formatted_datetime}T23:59:59"&$limit=30000'

# the os.environ.get looks for the specified variable in the .env file of the root
# folder of the project
headers = {'X-App-Token': os.environ.get("CHICHAGO_API_TOKEN")}

# response = requests.get(url, headers)    # in case an error comes leave the headers parameter
response = requests.get(url)

data = response.json()

#type(response)    # we can check the type: "requests.models.Response"

In [24]:
# create a dataframe from the taxi trip data
taxi_trips = pd.DataFrame(data)
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,4a1d9d87cb8255523453e8d74b6881a6fac37060,6c87f1d023a9d7146ae81b6aa4648bf98cec52cceb9f08...,2023-11-15T23:45:00.000,2023-11-16T00:15:00.000,1200,14.1,56,22,35.75,8.05,0,4,47.8,Credit Card,Taxi Affiliation Services,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",41.92276062,-87.699155343,"{'type': 'Point', 'coordinates': [-87.69915534...",NaN,NaN
1,4a08d200ca90ea0eb0a2b74b86f29d21877eecbc,ba87ebcada16aad3f40ed6699a9e67512f64ef670e2777...,2023-11-15T23:45:00.000,2023-11-15T23:45:00.000,292,0.64,8,8,5.5,0,0,1,6.5,Cash,Sun Taxi,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031081500,17031081500
2,4f60735fef3859bd9e75d99e662c46c58386f311,bedb270bce40664555c0e645a3f6c242d8f64ed541f6f5...,2023-11-15T23:45:00.000,2023-11-16T00:15:00.000,1048,7.42,76,NaN,21.25,0,0,6,27.25,Cash,Blue Ribbon Taxi Association,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",NaN,NaN,NaN,NaN,NaN
3,53b58ec6b718e41547ed4cb999e2463f808328e6,11bb28dc5075f790bd4529d80a571002aeb69fd4145015...,2023-11-15T23:45:00.000,2023-11-16T00:00:00.000,848,8.81,32,77,23.75,0,0,0,23.75,Cash,City Service,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",41.9867118,-87.663416405,"{'type': 'Point', 'coordinates': [-87.66341640...",NaN,NaN
4,5848760aa67e26ebc7c56743886870d7cd779b9f,eb7536e0b280d7842bd4448d3fc93ca078630c2f39f122...,2023-11-15T23:45:00.000,2023-11-15T23:45:00.000,460,3.77,32,24,11.09,1.97,0,0,13.06,Mobile,City Service,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",41.901206994,-87.676355989,"{'type': 'Point', 'coordinates': [-87.67635598...",NaN,NaN

In [25]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20959 non-null  object
 1   taxi_id                     20959 non-null  object
 2   trip_start_timestamp        20959 non-null  object
 3   trip_end_timestamp          20958 non-null  object
 4   trip_seconds                20955 non-null  object
 5   trip_miles                  20959 non-null  object
 6   pickup_community_area       20369 non-null  object
 7   dropoff_community_area      19049 non-null  object
 8   fare                        20905 non-null  object
 9   tips                        20905 non-null  object
 10  tolls                       20905 non-null  object
 11  extras                      20905 non-null  object
 12  trip_total                  20905 non-null  object
 13  payment_type                20959 non-null  object
 14  company                     20959 non-null  object
 15  pickup_centroid_latitude    20374 non-null  object
 16  pickup_centroid_longitude   20374 non-null  object
 17  pickup_centroid_location    20374 non-null  object
 18  dropoff_centroid_latitude   19173 non-null  object
 19  dropoff_centroid_longitude  19173 non-null  object
 20  dropoff_centroid_location   19173 non-null  object
 21  pickup_census_tract         10466 non-null  object
 22  dropoff_census_tract        10120 non-null  object
dtypes: object(23)
memory usage: 3.7+ MB

In [26]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,20959,20959,20959,20958,20955,20959,20369,19049,20905,20905,20905,20905,20905,20959,20959,20374,20374,20374,19173,19173,19173,10466,10120
unique,20959,2469,96,113,3890,2409,77,77,1353,1157,24,186,2659,7,32,139,139,139,179,179,179,63,110
top,4a1d9d87cb8255523453e8d74b6881a6fac37060,3671b00a8d3d78e49e75a0eb9796fbfa1ab2e07b89d7ed...,2023-11-15T17:00:00.000,2023-11-15T18:15:00.000,0,0,76,8,9,0,0,0,3.25,Credit Card,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031980000,17031839100
freq,1,37,412,399,407,2207,4499,4433,852,9256,20798,13737,465,9127,4172,2525,2525,2525,1508,1508,1508,2525,1508

In [27]:
# check rows where the fare is null, look at just 5 random samples
taxi_trips[taxi_trips['fare'].isna()].sample(5)

# in this case ask for advice from the potential users what to do

# some conclusions:
# - total trip might be erronous
# - fare data are missing from a few raws
# - the payment type and company occupies too much space
# - the centroid locations as Point coordinates are duplicates
# - the census tract data are very sparse, more than half of them are missing

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
12128,226892c118d35e7f82e7d2730e3d67e58b981ed4,3671b00a8d3d78e49e75a0eb9796fbfa1ab2e07b89d7ed...,2023-11-15T13:15:00.000,2023-11-15T13:15:00.000,580,1.31,8,28,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",17031081500,17031281900
16191,ffdedf0655881d3da829b4ab3c36987bc54d809a,3671b00a8d3d78e49e75a0eb9796fbfa1ab2e07b89d7ed...,2023-11-15T10:00:00.000,2023-11-15T10:15:00.000,487,1.19,28,32,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.885300022,-87.642808466,"{'type': 'Point', 'coordinates': [-87.64280846...",41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",17031280100,17031320100
1172,c739b1c86b59eca28226bf1df59c3eace10baf54,9b6ede7d36f53ba56a1ec8882cc17703224ac426ba9ef9...,2023-11-15T21:30:00.000,2023-11-15T22:00:00.000,1769,4.46,56,NaN,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN,NaN,NaN,NaN
903,7850db6128386d2a5a11c61a90c9d9d7137fdab8,4ab7a7510c1ebcc9b2e3eaa7bdd6508dbea34da7986aca...,2023-11-15T22:00:00.000,2023-11-15T22:15:00.000,563,2.52,8,7,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.922686284,-87.649488729,"{'type': 'Point', 'coordinates': [-87.64948872...",NaN,NaN
13957,12f606fbac8a85d4247633afffa3a184418196d7,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2023-11-15T12:00:00.000,2023-11-15T12:30:00.000,1995,12.98,76,5,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",41.947791586,-87.683834942,"{'type': 'Point', 'coordinates': [-87.68383494...",NaN,NaN

#### Transformation: deal with the NaN values

In [28]:
# the order is important, because these two columns contain lots of NaN values
# first drop them, then the rows having NaN in the other columns only
taxi_trips.drop(['pickup_census_tract', 'dropoff_census_tract'], axis=1, inplace=True)
taxi_trips.dropna(inplace=True)

#### Transformation: drop the unnecessary duplicated columns

In [29]:
taxi_trips.drop(['pickup_centroid_location', 'dropoff_centroid_location'], axis=1, inplace=True)

#### Transformation: renaming

In [30]:
taxi_trips.rename(columns={"pickup_community_area": "pickup_community_area_id",
                           "dropoff_community_area": "dropoff_community_area_id"},
                           inplace=True)

Transformation: an auxilary column to the weather data

In [31]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])
taxi_trips['datetime_for_weather'] = taxi_trips['trip_start_timestamp'].dt.floor('H')

#### Check joining the trips and the weather data

In [32]:
# get weather data from the open-meteo.com site, and create a dataframe out if it
url = 'https://archive-api.open-meteo.com/v1/era5'
# current date
current_datetime = datetime.now()
# get the data two months before as a formatted string
formatted_datetime = (current_datetime - relativedelta(months=2)).strftime('%Y-%m-%d')
params = {
    'latitude': 41.85,
    'longitude': -87.65,
    'start_date': formatted_datetime,
    'end_date': formatted_datetime,
    'hourly': 'temperature_2m,wind_speed_10m,rain,precipitation'
    }

response = requests.get(url, params=params)
weather_data = response.json()

# transform the JSON string to a pd dataframe
weather_data_filtered = {
    'datetime': weather_data['hourly']['time'],
    'temperature': weather_data['hourly']['temperature_2m'],
    'wind_speed': weather_data['hourly']['wind_speed_10m'],
    'rain': weather_data['hourly']['rain'],
    'precipitation': weather_data['hourly']['precipitation']
    }

#weather_data_filtered
weather_df = pd.DataFrame(weather_data_filtered)
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])
weather_df.info()
weather_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       24 non-null     datetime64[ns]
 1   temperature    24 non-null     float64
 2   wind_speed     24 non-null     float64
 3   rain           24 non-null     float64
 4   precipitation  24 non-null     float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.1 KB

             datetime  temperature  wind_speed  rain  precipitation
0 2023-11-15 00:00:00          7.5        15.8   0.0            0.0
1 2023-11-15 01:00:00          8.7        19.5   0.0            0.0
2 2023-11-15 02:00:00          8.5        20.6   0.0            0.0
3 2023-11-15 03:00:00          7.9        18.8   0.0            0.0
4 2023-11-15 04:00:00          6.7        15.6   0.0            0.0

In [33]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, left_on='datetime_for_weather', right_on='datetime')

In [34]:
#taxi_trips_with_weather.head()

Transformation: Data type conversions

In [35]:
# we can characterize columns which are not object is the dataframe
taxi_trips.describe()

                trip_start_timestamp        datetime_for_weather
count                          18863                       18863
mean   2023-11-15 14:06:46.653236736  2023-11-15 13:44:22.927424
min              2023-11-15 00:00:00         2023-11-15 00:00:00
25%              2023-11-15 10:30:00         2023-11-15 10:00:00
50%              2023-11-15 14:15:00         2023-11-15 14:00:00
75%              2023-11-15 18:00:00         2023-11-15 18:00:00
max              2023-11-15 23:45:00         2023-11-15 23:00:00

In [36]:
data_types = {
    'trip_end_timestamp': 'datetime64[ns]',
    'trip_seconds': 'int32',
    'trip_miles': 'float',
    'pickup_community_area_id': 'int8',
    'dropoff_community_area_id': 'int8',
    'fare': 'float',
    'tips': 'float',
    'tolls': 'float',
    'extras': 'float',
    'trip_total': 'float',
}
taxi_trips = taxi_trips.astype(data_types)

In [37]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18863 entries, 0 to 20957
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     18863 non-null  object
 1   taxi_id                     18863 non-null  object
 2   trip_start_timestamp        18863 non-null  datetime64[ns]
 3   trip_end_timestamp          18863 non-null  datetime64[ns]
 4   trip_seconds                18863 non-null  int32
 5   trip_miles                  18863 non-null  float64
 6   pickup_community_area_id    18863 non-null  int8
 7   dropoff_community_area_id   18863 non-null  int8
 8   fare                        18863 non-null  float64
 9   tips                        18863 non-null  float64
 10  tolls                       18863 non-null  float64
 11  extras                      18863 non-null  float64
 12  trip_total                  18863 non-null  float64
 13  payment_type                18863 non-null  object
 14  company                     18863 non-null  object
 15  pickup_centroid_latitude    18863 non-null  object
 16  pickup_centroid_longitude   18863 non-null  object
 17  dropoff_centroid_latitude   18863 non-null  object
 18  dropoff_centroid_longitude  18863 non-null  object
 19  datetime_for_weather        18863 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int8(2), object(8)
memory usage: 2.7+ MB

In [40]:
# much better, the non-object columns have some basic statistics easily
taxi_trips.describe()
# calculate the memory usage of the dataframe
taxi_trips.memory_usage(deep=True).sum()
# the data type optimized memory usage is less by a 40%

14795137

#### Sanity checks

In [41]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,datetime_for_weather
count,18863,18863,18863.000000,18863.000000,18863.000000,18863.000000,18863.000000,18863.000000,18863.000000,18863.000000,18863.000000,18863
mean,2023-11-15 14:06:46.653236736,2023-11-15 14:28:47.477071360,1317.813603,6.329036,34.320734,27.942533,22.117897,3.189729,0.003314,1.316166,26.824177,2023-11-15 13:44:22.927424
min,2023-11-15 00:00:00,2023-11-15 00:00:00,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-11-15 00:00:00
25%,2023-11-15 10:30:00,2023-11-15 10:45:00,471.000000,0.900000,8.000000,8.000000,7.750000,0.000000,0.000000,0.000000,10.000000,2023-11-15 10:00:00
50%,2023-11-15 14:15:00,2023-11-15 14:30:00,914.000000,2.480000,32.000000,28.000000,15.000000,2.000000,0.000000,0.000000,17.550000,2023-11-15 14:00:00
75%,2023-11-15 18:00:00,2023-11-15 18:15:00,1888.500000,11.785000,56.000000,32.000000,35.500000,5.000000,0.000000,1.000000,44.700000,2023-11-15 18:00:00
max,2023-11-15 23:45:00,2023-11-16 17:15:00,85569.000000,62.690000,77.000000,77.000000,151.000000,50.000000,9.000000,450.430000,457.430000,2023-11-15 23:00:00
std,NaN,NaN,1794.154943,6.824092,25.022146,21.709705,16.922598,4.081225,0.118986,4.931253,21.284664,NaN

In [42]:
taxi_trips[taxi_trips['trip_end_timestamp'] == taxi_trips['trip_end_timestamp'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
5871,72eae7a499d666888dd1ea840ecb5d65fafd7d6a,b7f7dbb452c0fb980a0f2050a146147c1006fe5f34e3b0...,2023-11-15 17:30:00,2023-11-16 17:15:00,85569,16.79,76,32,47.0,0.0,0.0,4.0,51.0,Cash,5 Star Taxi,41.97907082,-87.903039661,41.877406123,-87.621971652,2023-11-15 17:00:00

In [43]:
taxi_trips[taxi_trips['trip_seconds'] == taxi_trips['trip_seconds'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
5871,72eae7a499d666888dd1ea840ecb5d65fafd7d6a,b7f7dbb452c0fb980a0f2050a146147c1006fe5f34e3b0...,2023-11-15 17:30:00,2023-11-16 17:15:00,85569,16.79,76,32,47.0,0.0,0.0,4.0,51.0,Cash,5 Star Taxi,41.97907082,-87.903039661,41.877406123,-87.621971652,2023-11-15 17:00:00

In [44]:
taxi_trips[taxi_trips['fare'] == taxi_trips['fare'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
6230,8520bf86d2d2fea3a645957fbaaab5a332a23f9d,c92ffc47a21e745772199e454f7749ca499407d0079a94...,2023-11-15 17:15:00,2023-11-15 18:30:00,5219,62.69,76,76,151.0,0.0,0.0,40.5,191.5,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,41.97907082,-87.903039661,2023-11-15 17:00:00

In [45]:
taxi_trips.nlargest(10, 'fare')

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
6230,8520bf86d2d2fea3a645957fbaaab5a332a23f9d,c92ffc47a21e745772199e454f7749ca499407d0079a94...,2023-11-15 17:15:00,2023-11-15 18:30:00,5219,62.69,76,76,151.00,0.00,0.0,40.5,191.50,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,41.97907082,-87.903039661,2023-11-15 17:00:00
12301,ac56191b6a494280cab858e1759b324a9e8a80d9,1f041942ef7c61fea34c62c89aea8231e4277ca158d54e...,2023-11-15 13:00:00,2023-11-15 19:00:00,21605,15.77,27,1,150.00,0.00,0.0,0.0,150.00,Cash,Flash Cab,41.878914496,-87.70589713,42.009622881,-87.670166857,2023-11-15 13:00:00
4722,9907e9ad6d9a9f2b6efa853f56cfa521a1118e36,b89de8fefce2927a1bbc747ac861743fc5482ed36590d2...,2023-11-15 18:15:00,2023-11-15 19:00:00,2990,29.62,76,76,144.44,0.00,4.5,39.5,188.44,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,41.97907082,-87.903039661,2023-11-15 18:00:00
18898,14f22479a93a6310062e7ef9e43e57f3fa480464,e07a6c4140c6ab966c27183ca8096da2fa61b2f3174cf1...,2023-11-15 08:00:00,2023-11-15 10:45:00,10320,2.70,71,56,126.50,0.00,0.0,0.0,126.50,Cash,Taxi Affiliation Services,41.744205146,-87.656305986,41.79259236,-87.769615453,2023-11-15 08:00:00
13707,d08f07ad577e4913c32d32a696aec45f3bfe5e46,ee065e5c90ac23f7fdfec374dd92bad3bdc8ebbd7c573c...,2023-11-15 12:00:00,2023-11-15 14:45:00,10279,39.23,77,2,122.00,0.00,0.0,0.0,122.00,Cash,City Service,41.9867118,-87.663416405,42.001571027,-87.695012589,2023-11-15 12:00:00
12827,3bf6a685d614c24e2b1f8e237136336e8e4a6703,22b403ba1c4de25cb19049e9c08b6d1339a9eea3ec06f9...,2023-11-15 12:45:00,2023-11-15 13:00:00,533,2.25,76,76,114.87,0.00,0.0,0.0,114.87,Cash,Flash Cab,41.980264315,-87.913624596,41.980264315,-87.913624596,2023-11-15 12:00:00
19312,4005df74ce0c6b81b6f1d74807fbdcef688462da,8a2802b8001fa243450b71eb66e6e76b4bdc4ea50cbb19...,2023-11-15 07:30:00,2023-11-15 09:45:00,8160,2.70,76,50,114.25,0.00,0.0,26.0,140.25,Cash,Taxi Affiliation Services,41.980264315,-87.913624596,41.706125752,-87.598255838,2023-11-15 07:00:00
5292,1da90b7a6bccf023e37849442a493e9c283f76bb,beb0579501b2745e10d12af72f99864d506abb7c5de1eb...,2023-11-15 18:00:00,2023-11-15 23:00:00,17760,6.20,3,3,104.50,0.00,0.0,0.0,104.50,Cash,Taxi Affiliation Services,41.96581197,-87.655878786,41.96581197,-87.655878786,2023-11-15 18:00:00
8468,6fb665e959d5ede4ebea4b59f529c45de11cc71b,28d2ef11434811fb64d04e45ed0b0dc0fabdfcfd71247d...,2023-11-15 15:45:00,2023-11-15 16:00:00,610,0.35,28,76,100.00,25.25,0.0,0.0,126.25,Credit Card,City Service,41.879255084,-87.642648998,41.97907082,-87.903039661,2023-11-15 15:00:00
11140,d1c82b56888e1faebbd0cc9d3f20f7ebce0206b6,c60633c5d2053dd1c2076286b88196cf83f4fe0ecc1945...,2023-11-15 13:45:00,2023-11-15 13:45:00,8,0.00,40,40,100.00,0.00,0.0,0.0,100.50,Credit Card,Chicago Independents,41.79104166,-87.623179577,41.79104166,-87.623179577,2023-11-15 13:00:00