In [13]:
# some exploratory data analysis
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os

import pandas as pd
# set pandas to show 100 the columns
pd.set_option('display.max_columns', 100)

import requests

In [ ]:
# get the taxi data of the last full month (T-1 months') data
current_datetime = datetime.now()    # current date
# get the data two months before as a formatted string
formatted_datetime = (current_datetime - relativedelta(months=2)).strftime('%Y-%m-%d')

url = f'https://data.cityofchicago.org/resource/wrvz-psew.json?$where=trip_start_timestamp >= "{formatted_datetime}T00:00:00" AND trip_start_timestamp <= "{formatted_datetime}T23:59:59"&$limit=30000'

# the os.environ.get looks for the specified variable in the .env file of the root
# folder of the project
headers = {'X-App-Token': os.environ.get("CHICHAGO_API_TOKEN")}

# response = requests.get(url, headers)    # in case an error comes leave the headers parameter
response = requests.get(url)

data = response.json()

#type(response)    # we can check the type: "requests.models.Response"

In [15]:
# create a dataframe from the taxi trip data
taxi_trips = pd.DataFrame(data)
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_community_area,dropoff_community_area,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,39b62bacf5c02654e3d990b53ad84b8628618552,0cbf5c0f6aca3628d77c7b6fe89715757ed402a70b0f8b...,2023-11-11T23:45:00.000,2023-11-12T00:00:00.000,934,3.54,12.5,2.9,0,1.5,17.4,Credit Card,Globe Taxi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fcd33678713bb7fb3c1423d6427d86c298cb3be8,dff38396cdba045286033d298070468e3bfcd63550d4bd...,2023-11-11T23:45:00.000,2023-11-12T00:00:00.000,1117,5.57,17,3.5,0,0,21,Credit Card,Sun Taxi,32,38,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",41.812948939,-87.617859676,"{'type': 'Point', 'coordinates': [-87.61785967...",NaN,NaN
2,f8b8b77bf3c1d739a703c8f071aa0f8c9f657b22,b5f958b8508ba66e43f28559d6d54c66b9e7a7df9b45da...,2023-11-11T23:45:00.000,2023-11-12T00:00:00.000,950,5.73,17.75,3.65,0,0,21.9,Credit Card,Chicago Independents,6,2,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",42.001571027,-87.695012589,"{'type': 'Point', 'coordinates': [-87.69501258...",NaN,NaN
3,f6bb3ae77837077c54973c097e0f36098a1b0be5,0ee86e2a204cc2224e9ff2494686ee474cce6aba093a1b...,2023-11-11T23:45:00.000,2023-11-12T00:00:00.000,1494,6.6,21.75,4.45,0,0,26.7,Credit Card,Sun Taxi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fbcba8fc903fa8a0545286af3aa96aa3bd877230,3618045f9110d4d88482266ade23659c1a50d32ac37f20...,2023-11-11T23:45:00.000,2023-11-12T00:00:00.000,120,0.6,4.5,0,0,0,4.5,Unknown,Taxi Affiliation Services,38,36,41.812948939,-87.617859676,"{'type': 'Point', 'coordinates': [-87.61785967...",41.82371281,-87.602350437,"{'type': 'Point', 'coordinates': [-87.60235043...",NaN,NaN

In [16]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13492 entries, 0 to 13491
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     13492 non-null  object
 1   taxi_id                     13492 non-null  object
 2   trip_start_timestamp        13492 non-null  object
 3   trip_end_timestamp          13492 non-null  object
 4   trip_seconds                13490 non-null  object
 5   trip_miles                  13492 non-null  object
 6   fare                        13455 non-null  object
 7   tips                        13455 non-null  object
 8   tolls                       13455 non-null  object
 9   extras                      13455 non-null  object
 10  trip_total                  13455 non-null  object
 11  payment_type                13492 non-null  object
 12  company                     13492 non-null  object
 13  pickup_community_area       13127 non-null  object
 14  dropoff_community_area      12149 non-null  object
 15  pickup_centroid_latitude    13135 non-null  object
 16  pickup_centroid_longitude   13135 non-null  object
 17  pickup_centroid_location    13135 non-null  object
 18  dropoff_centroid_latitude   12335 non-null  object
 19  dropoff_centroid_longitude  12335 non-null  object
 20  dropoff_centroid_location   12335 non-null  object
 21  pickup_census_tract         4867 non-null   object
 22  dropoff_census_tract        4697 non-null   object
dtypes: object(23)
memory usage: 2.4+ MB

In [17]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_community_area,dropoff_community_area,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,13492,13492,13492,13492,13490,13492,13455,13455,13455,13455,13455,13492,13492,13127,12149,13135,13135,13135,12335,12335,12335,4867,4697
unique,13492,1995,96,113,2940,2136,1009,934,14,142,1994,7,31,76,77,130,130,130,155,155,155,55,79
top,39b62bacf5c02654e3d990b53ad84b8628618552,d40dae7ea46d61abca67eb53b157fe9cf0b485cca6dce1...,2023-11-11T17:00:00.000,2023-11-11T18:30:00.000,0,0,9,0,0,0,3.25,Credit Card,Flash Cab,8,8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",17031980000,17031320100
freq,1,31,295,270,267,1466,558,6856,13409,7645,279,5142,2871,3402,3124,1880,1880,1880,1477,1477,1477,1275,537

In [18]:
# check rows where the fare is null, look at just 5 random samples
taxi_trips[taxi_trips['fare'].isna()].sample(5)

# in this case ask for advice from the potential users what to do

# some conclusions:
# - total trip might be erronous
# - fare data are missing from a few raws
# - the payment type and company occupies too much space
# - the centroid locations as Point coordinates are duplicates
# - the census tract data are very sparse, more than half of them are missing

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_community_area,dropoff_community_area,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
2738,9610d59c4b8e9eac9d4e4725cd315deda170101e,dff8b2296e1abd3c3470a2f0765b3f385f9a53c8df1cc3...,2023-11-11T19:15:00.000,2023-11-11T19:30:00.000,539,0.65,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,8,32,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",17031081500,17031320100
3964,fc51592b0397e94e189df5755a04c52e07b35423,153cb22f850a08c9f53fad42c06ae36f72e23b58abeeaa...,2023-11-11T17:45:00.000,2023-11-11T18:15:00.000,2024,24.76,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Taxicab,76,NaN,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",NaN,NaN,NaN,NaN,NaN
11425,ead88c297a38ffb2b81ac030c755ff0dada291f2,286e28223cab05d01037fb52fead0f36d84f4b00e159c0...,2023-11-11T08:45:00.000,2023-11-11T09:00:00.000,861,7,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,16,8,41.953582125,-87.72345239,"{'type': 'Point', 'coordinates': [-87.72345239...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
2121,a27b1e7da27b3e254868650f20708c521a48c6cf,9b6ede7d36f53ba56a1ec8882cc17703224ac426ba9ef9...,2023-11-11T20:00:00.000,2023-11-11T20:00:00.000,272,0.68,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,8,8,41.890922026,-87.618868355,"{'type': 'Point', 'coordinates': [-87.61886835...",41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031081403,17031081500
52,9532aa5977add26410ed6edf214a8b3e4248799e,b15d5dba7f578c2e93e08c66d7a9b57bc35c9f316265cb...,2023-11-11T23:45:00.000,2023-11-12T00:15:00.000,1289,16.83,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,76,32,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031980000,17031839100

#### Transformation: deal with the NaN values

In [ ]:
taxi_trips.drop(['pickup_census_tract', 'dropoff_census_tract'], axis=1, inplace=True)

#### Transformation: drop the unnecessary duplicated columns

In [22]:
taxi_trips.drop(['pickup_centroid_location', 'dropoff_centroid_location'], axis=1, inplace=True)

#### Transformation: renaming

In [28]:
taxi_trips.rename(columns={"pickup_community_area": "pickup_community_area_id",
                           "dropoff_community_area": "dropoff_community_area_id"},
                           inplace=True)

Transformation: an auxilary column to the weather data

In [32]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])
taxi_trips['datetime_for_weather'] = taxi_trips['trip_start_timestamp'].dt.floor('H')

In [33]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13492 entries, 0 to 13491
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     13492 non-null  object
 1   taxi_id                     13492 non-null  object
 2   trip_start_timestamp        13492 non-null  datetime64[ns]
 3   trip_end_timestamp          13492 non-null  object
 4   trip_seconds                13490 non-null  object
 5   trip_miles                  13492 non-null  object
 6   fare                        13455 non-null  object
 7   tips                        13455 non-null  object
 8   tolls                       13455 non-null  object
 9   extras                      13455 non-null  object
 10  trip_total                  13455 non-null  object
 11  payment_type                13492 non-null  object
 12  company                     13492 non-null  object
 13  pickup_community_area_id    13127 non-null  object
 14  dropoff_community_area_id   12149 non-null  object
 15  pickup_centroid_latitude    13135 non-null  object
 16  pickup_centroid_longitude   13135 non-null  object
 17  dropoff_centroid_latitude   12335 non-null  object
 18  dropoff_centroid_longitude  12335 non-null  object
 19  datetime_for_weather        13492 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(18)
memory usage: 2.1+ MB